<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home anticipation de retard de vols</title>
    <!-- <body background="home-alone.jpg"> -->
    </head>
	<body  background="flaming_airplane.jpg">
        <h1>API Anticipation de retard de vols</h1>
        <p>
        	<big>
                Site de l'API <em>anticipation de retard de vol</em>.
        	</big>
    	</p>

        <p>
            <big>
                <strong>Se rendre</strong> sur la page du <a href="/send"><mark>lien</mark></a>.
                <br />
            </big>
        </p>
        <h2>Paramètres en entrée</h2>
        <p>
            <ul>
                <li>Aéroport de départ</li>
                <li>Aéroport d'arrivée</li>
                <li>Date de l'année 2016</li>
                <li>Heure de départ</li>
                <li>Compagnie aérienne</li>
            </ul>
        </p>
    </body>
</html>
